@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* This is a comment */

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #f7f7f7;
    text-decoration: none;
}

.light-theme {
    color: #f7f7f7;
    background: #212633;
  }

blockquote {
margin-top: 10px;
margin-bottom: 10px;
margin-left: 20px;
padding-left: 15px;
border-left: 3px solid #ccc;
}

.ptable table{
margin: 10px;
border-collapse: collapse;
}

.ptable{
    margin: 0px 0% 30px 0%;
}

th, td {
    padding: 10px;
}

td{
font-family: 'Open Sans', sans-serif;
font-size: 14px;
}

th{
background-color: #212633;
color: #f7f7f7;
font-family: 'Open Sans', sans-serif;
font-size: 17px;
}

/* .heading{
text-align: left;
text-decoration: none;
margin: 30px;
display: block;
} */

.wpos{
text-align: center;
}

.wpos td{
color: #f7f7f7;
}

.pos{
text-align: center;
}


.wpos:hover{
background-color: #2e3445;
}

.wpos:hover td{
color: #f7f7f7;
}
