/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

/* Text Styling */
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

b {
  font-family: 'Lato', sans-serif;
}

a {
    color: #f7f7f7;
    text-decoration: none;
}


/* Page Style */

.light-theme {
    color: #f7f7f7;
    background: linear-gradient(500deg, #212633, #31324a);
  }

/* Quote */

blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
}

/* Table Styling */

.standings table {
    float: right;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right:10px;
}

caption {
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    caption-side: bottom;
}

figcaption {
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    /* caption-side: bottom; */
}


td{
font-family: 'Open Sans', sans-serif;
font-size: 14px;
padding: 10px;
}

th{
    /* background-color: #212633; */
    color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    padding: 10px;
}

.heading{
    text-align: right;
    text-decoration: none;
    margin: 30px;
    display: block;
}

.wpos{
    text-align: center;
}

.wpos td{
    color: #f7f7f7;
}

.pos{
    text-align: center;
}


.wpos:hover{
    background-color: #2e3445;
}

.wpos:hover td{
    color: #f7f7f7;
}
